.vs/
obj/
**/bin/
*.csproj.lscache
*.Development.json
*.env
.env
.env.*
Migrations/
!Infrastructure/Infrastructure/DataAccessManager/EFCore/Migrations/
!Infrastructure/Infrastructure/DataAccessManager/EFCore/Migrations/*.cs
appsettings.Development.json
*.db
*.db-shm
*.db-wal
artifacts/
