.vs/
obj/
bin/

node-modules/
dist/

docker-compose.override.yml

Migrations/

*.tmp
*.temp

.DS_Store
Thumbs.db

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
*.sln.iml

*.nupkg
packages/
.nuget/

*.log

*.cache
*.csproj.lscache

.dll
*.exe